.topcharts-page {
   margin-top: 100px;
  padding: 20px;
  background: #f5f5f5;
}

/* HERO */
.topcharts-hero {
  padding: 60px;
  color: white;
  background: linear-gradient(90deg, #ff4d8d, #ff8a00);
}

.topcharts-hero h1 {
  font-size: 55px;
}

.topcharts-hero p {
  margin-top: 10px;
  font-size: 18px;
}

/* SECTION */
.charts-section {
  padding: 40px 60px;
}

.charts-section h2 {
  margin-bottom: 20px;
}

/* LIST */
.charts-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* ROW */
.chart-row {
  display: grid;
  grid-template-columns: 60px 2fr 1.5fr 80px 100px 80px;
  align-items: center;
  gap: 15px;

  background: white;
  padding: 12px 20px;
  border-radius: 15px;
}

.chart-row:hover {
  background: #f0f0f0;
}

/* RANK */
.rank {
  font-size: 20px;
  font-weight: bold;
}

/* IMAGE */
.chart-row img {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  object-fit: cover;
}

/* INFO */
.song-info h3 {
  margin: 0;
  font-size: 16px;
}

.song-info p {
  margin: 0;
  font-size: 13px;
  color: gray;
}

/* PLAYS */
.plays {
  font-size: 14px;
  color: #555;
}

/* DURATION */
.duration {
  font-size: 14px;
  color: #777;
}

/* BUTTON */
.play-btn {
  border: none;
  background: linear-gradient(90deg, #ff4d8d, #ff8a00);
  color: white;
  padding: 8px 10px;
  border-radius: 8px;
  cursor: pointer;
}