.bi {
  display: inline-block;
  width: 1rem;
  height: 1rem;
}

/*
 * Sidebar
 */

@media (min-width: 768px) {
  .sidebar .offcanvas-lg {
    position: -webkit-sticky;
    position: sticky;
    top: 48px;
  }
  .navbar-search {
    display: block;
  }
}

.sidebar .nav-link {
  font-size: .875rem;
  font-weight: 500;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar-heading {
  font-size: .75rem;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
}

.AllSongs-Container{
  display: flex;
  flex-direction: row;
  gap: 5px;
  

}

.AllSongs-Container img{
  height: 90px;
  width: 90px;
}
.AllSongs-Card{
  border: 1px solid grey;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  max-width: 100px;
  max-height: auto;
  padding: 2px;
  align-items: center;
  margin: 10px;
}

.Player{
  position: fixed;
  bottom: 0;
  left: 0;
  margin-left: 5px;
  margin-bottom:2px;
  width: 96.5%;
  border-radius: 10px;
  color: black;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(97, 66, 160, 0.5);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px); 
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  z-Index: 9999 ;
}
